In [243]:
import pandas as pd
data = pd.read_excel('version_13.xlsx')

data.head(10)

,Unnamed: 0.1,Unnamed: 0,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,0,2021-01-30,128437.248512,34246.28,131012.7232,34933.00,123106.88,32825,128333.212416,34218.54,43072.0
1,1,2021-01-29,125144.022272,33368.18,144510.03776,38531.90,119695.51616,31915.4,128459.450880,34252.20,231827.0
2,2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.81184,29842.1,125131.570944,33364.86,92621.0
3,3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911.0
4,4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972.0
5,5,2021-01-25,120985.84128,32259.45,130795.2,34875.00,119675.264,31910,120966.151680,32254.20,88499.0
6,6,2021-01-24,120305.3312,32078.00,124029.4784,33071.00,115887.36,30900,120987.528960,32259.90,57978.0
7,7,2021-01-23,123575.68,32950.00,125473.3824,33456.00,117725.656064,31390.16,120305.331200,32078.00,64595.0
8,8,2021-01-22,115707.303296,30851.99,126863.018112,33826.53,108199.04,28850,123557.565568,32945.17,142971.0
9,9,2021-01-21,133020.049792,35468.23,133514.24,35600.00,112778.2784,30071,115700.327552,30850.13,131803.0

In [244]:
# rename the date column and drop unnecessary columns
data = data.rename(columns={'Unnamed: 0':'date'}).drop(columns=['Unnamed: 0.1'])

data.head(10)

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,2021-01-30,128437.248512,34246.28,131012.7232,34933.00,123106.88,32825,128333.212416,34218.54,43072.0
1,2021-01-29,125144.022272,33368.18,144510.03776,38531.90,119695.51616,31915.4,128459.450880,34252.20,231827.0
2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.81184,29842.1,125131.570944,33364.86,92621.0
3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911.0
4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972.0
5,2021-01-25,120985.84128,32259.45,130795.2,34875.00,119675.264,31910,120966.151680,32254.20,88499.0
6,2021-01-24,120305.3312,32078.00,124029.4784,33071.00,115887.36,30900,120987.528960,32259.90,57978.0
7,2021-01-23,123575.68,32950.00,125473.3824,33456.00,117725.656064,31390.16,120305.331200,32078.00,64595.0
8,2021-01-22,115707.303296,30851.99,126863.018112,33826.53,108199.04,28850,123557.565568,32945.17,142971.0
9,2021-01-21,133020.049792,35468.23,133514.24,35600.00,112778.2784,30071,115700.327552,30850.13,131803.0

In [245]:
def analyse(data_in):
    null_values = data_in.isnull().sum()
    duplicate_rows = data_in.duplicated().sum()
    data_types = data_in.dtypes
    print('Null values:\n%s\n\nDuplicate rows: %i\n\nData types:\n%s' % (null_values, duplicate_rows, data_types))

analyse(data)

Null values:
date         0
open_SAR     5
open_USD     4
high_SAR     4
high_USD     5
low_SAR      8
low_USD      4
close_SAR    4
close_USD    4
volume       6
dtype: int64

Duplicate rows: 11

Data types:
date          object
open_SAR      object
open_USD     float64
high_SAR      object
high_USD     float64
low_SAR       object
low_USD       object
close_SAR    float64
close_USD    float64
volume       float64
dtype: object

In [246]:
numeric_cols = ['open_SAR', 'open_USD', 'high_SAR', 'high_USD', 'low_SAR', 'low_USD', 'close_SAR', 'close_USD', 'volume']
date_cols = ['date']

# Converting the data types to valid ones
data[date_cols] = data[date_cols].apply(pd.to_datetime, errors='coerce')
data[numeric_cols] = data[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Dropping the duplicates
data = data.drop_duplicates()
#filling the missing values with mean
data = data.fillna(data.mean())

data

,date,open_SAR,open_USD,high_SAR,high_USD,low_SAR,low_USD,close_SAR,close_USD,volume
0,2021-01-30,128437.248512,34246.28,131012.723200,34933.00,123106.880000,32825.00,128333.212416,34218.54,43072.0
1,2021-01-29,125144.022272,33368.18,144510.037760,38531.90,119695.516160,31915.40,128459.450880,34252.20,231827.0
2,2021-01-28,113870.357376,30362.19,126703.438592,33783.98,111919.811840,29842.10,125131.570944,33364.86,92621.0
3,2021-01-27,121753.023104,32464.01,122102.860416,32557.29,109668.146688,29241.72,113885.208960,30366.15,95911.0
4,2021-01-26,120966.114176,32254.19,123470.218752,32921.88,115652.472448,30837.37,121767.124608,32467.77,84972.0
...,...,...,...,...,...,...,...,...,...,...
1007,2018-05-11,33761.888384,9002.21,33816.606720,9016.80,31282.086400,8341.00,31503.360000,8400.00,48227.0
1008,2018-05-10,34916.224000,9310.00,35235.458048,9395.12,33641.088000,8970.00,33761.850880,9002.20,25055.0
1009,2018-05-09,34421.171200,9178.00,35216.256000,9390.00,33622.336000,8965.00,34916.224000,9310.00,25673.0
1010,2018-05-08,35122.496000,9365.00,35537.665280,9475.70,33980.649216,9060.54,34457.025024,9187.56,25533.0
1011,2018-05-07,36232.689408,9661.02,36340.138368,9689.67,34432.422400,9181.00,35122.496000,9365.00,33787.0

In [247]:
# Analyse the data after cleaning
analyse(data)

Null values:
date         0
open_SAR     0
open_USD     0
high_SAR     0
high_USD     0
low_SAR      0
low_USD      0
close_SAR    0
close_USD    0
volume       0
dtype: int64

Duplicate rows: 0

Data types:
date         datetime64[ns]
open_SAR            float64
open_USD            float64
high_SAR            float64
high_USD            float64
low_SAR             float64
low_USD             float64
close_SAR           float64
close_USD           float64
volume              float64
dtype: object

In [248]:
for col in numeric_cols:
    q_1 = data[col].quantile(0.25)
    q_3 = data[col].quantile(0.75)
    iqr = q_3 - q_1
    low = q_1 - 1.5 * iqr
    high = q_3 + 1.5 * iqr
    
    print('Column %s' % col)
    anomalies = data[(data[col] >= low) & (data[col] <= high)]
    print('Number of anomalies: %i' % (data.shape[0] - anomalies.shape[0]))
    
    # Fixing the anomalies
    data.loc[data[col] < low, col] = data[col].mean()
    data.loc[data[col] > high, col] = data[col].mean()
    
    anomalies = data[(data[col] >= low) & (data[col] <= high)]
    print('Number of anomalies after fixing: %i\n' % (data.shape[0] - anomalies.shape[0]))

Column open_SAR
Number of anomalies: 78
Number of anomalies after fixing: 0

Column open_USD
Number of anomalies: 79
Number of anomalies after fixing: 0

Column high_SAR
Number of anomalies: 81
Number of anomalies after fixing: 0

Column high_USD
Number of anomalies: 79
Number of anomalies after fixing: 0

Column low_SAR
Number of anomalies: 79
Number of anomalies after fixing: 0

Column low_USD
Number of anomalies: 82
Number of anomalies after fixing: 0

Column close_SAR
Number of anomalies: 79
Number of anomalies after fixing: 0

Column close_USD
Number of anomalies: 81
Number of anomalies after fixing: 0

Column volume
Number of anomalies: 57
Number of anomalies after fixing: 0